html,
body {
  z-index: 3;
  position: relative;
  padding: 3vh 0 0 0;
  font-family: "Palatino Linotype";

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationGradient 15s ease infinite;
  -moz-animation: AnimationGradient 15s ease infinite;
  animation: AnimationGradient 15s ease infinite;
}

h1 {
  text-align: center;
}

form {
  width: 80%;
  margin: auto;
}

input {
  font-family: "Palatino Linotype", Arial;
  border: 1px solid gray;
  width: 80%;
}

input[type="radio"] {
  width: 10px;
}

input[type="checkbox"] {
  width: 10px;
}

textarea {
  border: 1px solid gray;
  grid-row: 3;
  grid-column: 40;
}

.row {
  grid-row: 1;
}

.well {
  padding: 5%;
  font-family: "Palatino Linotype";
}

.checked {
  color: orange;
}

.dropdown {
  height: 30px;
  width: 140px;
  padding: 2px;
  margin: 5px;
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 2px;
}

#tableRow4[type="radio"] {
  grid-row: 1;
  grid-column: 10;
  margin: 4px;
  margin-top: 10px;
}

.labels {
  text-align: left;
  width: 80%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

@media screen and (max-width: 833px) {
  input {
    max-width: 80%;
    text-align: left;
    display: inline-block;
  }
  select {
    max-width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .labels {
    width: 80%;
    text-align: left;
    display: inline-block;
  }
  select {
    max-width: 90%;
  }
}

@-webkit-keyframes AnimationGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
